.red {
  width: 200px;
  height: 200px;
  background-color: red;
}

.blue {
  width: 200px;
  height: 200px;
  background-color: blue;
}

.green {
  width: 200px;
  height: 200px;
  background-color: green;
}

.content{
    display: flex;
    gap: 30px;
}